.squad-name-title {
  font-family: Arial, Helvetica, sans-serif;
}

.main-page-div {
  /* margin-top: 2%; */
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
}

.page-container-div {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
  background-color: #ebecf0;
}

.mhd-background {
  background-image: url("https://pbs.twimg.com/profile_images/540205964914212864/ykyBgUz5_400x400.png");
  /* background-repeat: no-repeat; */
  background-size: inherit;
}

.angi-background {
  background-image: url("https://media-exp3.licdn.com/dms/image/C4D0BAQEgk8MjLI5aEg/company-logo_200_200/0/1625152505470?e=2159024400&v=beta&t=RyYmirSFjUR2jSsY7F1cqJQSqUNkFfmKO0rlzhwOz8w");
  background-size: auto;
}

.responsive-text {
  font-size: 2vw;
}

img {
  width: 100%;
  height: auto;
}
.details {
  font-size: 150px;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* SnovaPack Processes  */
/* .cell_styling {
  border: 3px solid black;
} */
.section_styling {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "National", sans-serif;
  font-style: "normal";
  font-size: 190px;
}

.indent-text {
  text-indent: 2%;
}

.new-style {
  width: "100%";
  color: black;
  height: 40em;
}

.newer-style {
  width: "100%";
  color: black;
  height: 30em;
}

.test {
  margin-top: 25%;
  opacity: 100%;
  color: #343a40;
  font-weight: bold;
  font-size: 38px;
}

.button-placement {
  margin-top: 45%;
  margin-left: 0%;
}

.cardstyling {
  width: 110em;
}

.grid-styling {
}

/* .container_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
